{% extends 'layout.html' %}

{% block content %}
<table class="table">
  <thead class=" bg-dark text-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">Qty.</th>
      </tr>
    </thead>
    <tbody>
        {%for name in name%}
      <tr>
        
        <th scope="row">{{name.id}}</th>
        <td>{{name.BookName}}</td>
        <td>{{name.BookAuthor}}</td>
        <td>{{name.BookPrice}}</td>
        <td>{{name.BookQty}}</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
   
{% endblock %}

