{% extends 'layout.html' %}

{% block content %}
<h1>วิธีจัดส่ง</h1>
<h3>คิดค่าจัดส่งอย่างไร?</h3>
<h4>ออเดอร์ต่ำกว่า 1,000 บาท</h4>
<p>ค่าบริการจัดส่ง กรุงเทพฯ 60 บาท</p>
<p>ค่าบริการจัดส่ง จังหวัดอื่น 80 บาท</p>



<h4>ส่งฟรีเมื่อซื้อครบ 1,000 บาท</h4>
<p>(ยกเว้นบางโปรโมชั่นอาจจะมีค่าจัดส่งกำหนดไว้)</p>

<h3>จัดส่งด้วยวิธีใด?</h3>
<p>จัดส่งโดยบริษัทขนส่งเอกชน โดยจะมีเจ้าหน้าที่ขนส่งโทรศัพท์ติดต่อลูกค้าเพื่อแจ้งล่วงหน้าในวันที่ทำการจัดส่ง</p>

<h4>สอบถามข้อมูลเพิ่มเติม</h4>
<p>หากมีข้อสงสัย หรือต้องการสอบถามข้อมูลเพิ่มเติม กรุณาติดต่อมาที่ info@bookstore.com หรือ โทร. 02-222-2222 (จันทร์-เนปจูน เวลา 9:00-28:00)</p>

{% endblock %}