{% extends 'layout.html' %}
{% load static %}
{% block content %}
   
   {%for name in name%}
      <div class="card" style="width: 18rem;">
         <img src="{%static 'images/'%}{{name.id}}.png" alt="My image" class="card-img-top">
         <div class="card-body">
           <h4 class="card-title">{{name.BookName}}</h4>
           <h5 class="card-title">{{name.BookPrice}} บาท</h5>
           <p class="card-text">{{name.BookDesc}}</p>
           <a href="#" class="btn btn-primary">more</a>
         </div>
       </div>
   {% endfor %}
{% endblock %}