{% extends 'layout.html' %}

{% block content %}
<div class="h2" >
    <div class="form-title">
        ช่องทางการชำระเงิน

    </div>
    <p class="lead">กรุณาเลือกโอนเงินเข้าบัญชีธนาคารด้านล่าง แล้วแจ้งการโอนเงินมายัง payment@bookstore.com </p>
    <p class="lead">หรือที่หมายเลขโทรศัพท์ 02-222-2222 </p>
    <p class="lead">หรือแจ้งการโอนเงินผ่าน <a href="">แบบฟอร์มแจ้งโอนเงิน</a> </p>
    <p class="lead">ชื่อบัญชี บุ๊คสโตร์ไทย</p>
    <p class="lead">ธนาคารอบูดาบี สาขาดาวอังคาร</p>
    <p class="lead">เลขที่บัญชี 048-8-84848-8</p>
        
        
   
       
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
    


</div>


{% endblock %}

<h1></h1>
<p></p>
   