{% extends 'layout.html' %}
{% load static %}
{% block content %}

<h1>Payment</h1>    
{%for xuser in xuser%}
<h4>Name : {{xuser.first_name}}</h4>
{% endfor %}
    
    <table class="table">
        <thead class=" bg-dark text-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Total</th>
              <th scope="col">Address</th>
              <th scope="col">Status</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            {%for payment in payment%}
            
            <tr>
              
              <th scope="row">{{payment.id}}</th>
              <td>{{payment.Total}} บาท</td>
              <td>{{payment.Address}}</td>
              <td>{{payment.Status}}</td>
              
            </tr>
            
            {% endfor %}
          </tbody>
        </table>
        
        
          <a class="badge bg-warning "  href="/ConfirmPayment/">Confirm Payment</a>
        
{% endblock %}
